
body{
    margin: 0;
    overflow-y: hidden;
    
}
.landing{
    height: 100vh;
    width: auto;
    display: flex;
    background-image: linear-gradient(to right bottom, #1f204e, #381e4c, #4a1b47, #59193f, #641a36, #6b213e, #732847, #7a2f50, #7a3f6e, #71528a, #5e65a0, #4377b0);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
img{
    width: 80%;
    height: 90vh;
}

a.button4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    height: 5vh;
    }
    a.button4:hover{
     border-color: rgba(255,255,255,1);
    }
 

